body {
    margin: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.img-main {
    width: 150px;
}

.card {
    display: flex;
    width: 400px;
    padding: 20px;
    justify-content: space-around;
    margin: 0 auto;
    text-align: center;
    background-color: #f9f4ca;
    color: #444449;
    border-bottom: 6px solid #bcc4bc;
    border-radius: 20px;
}

/* contrast ratio: 8.67:1 */